<!DOCTYPE html>
<html lang="fr">
<%- include('./shared/head') %>
<body>
<%- include('./shared/header') %>
<main>
    <a href="/events/">Retour à la page des events actuels</a>
    <ul class="eventContainer">
        <% events.forEach(event =>{ %>
            <li class="eventList">
                <a href="/events/<%= event.id %>"><%= event.name %></a>
                <div>
                    <%= event.description %></br>
                    Nombre de places : <%= event.places_count %>
                </div>
            </li>
        <% }); %>
    </ul>
</main>
<%- include('./shared/footer') %>
</body>
</html>